[core]
	editor = vim
	commitGraph = true
[user]
	name = Lucas Jurgensen
	email = jurgensenlucas@gmail.com
[push]
    default = upstream
[color "decorate"]
    tag = red
    HEAD = cyan
[color "diff"]
    commit = blue
    whitespace = red reverse
[pretty]
    color = tformat:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
[alias]
    # pretty one-line logs
    lg = log --pretty=color
    lgg = log --graph --pretty=color 
[gc]
	writeCommitGraph = true
[color]
	ui = true
